/* CUSTOM CSS
-------------------------------------------------- */
.about-me-content {
  margin-bottom: 1em;
}

.badges {
  margin-bottom: 3%;
}

.button-badge-spacing {
  margin-right: 2%;
}

.x-icon {
  margin-left: 20px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

/* BOOTSTRAP CSS
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing h2 {
  font-weight: 400;
}

.marketing .row {
  margin-bottom: 0.5em;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -0.05rem;
}

/* RESPONSIVE CSS
  -------------------------------------------------- 

@media (min-width: 40em) {

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
*/
