/* CUSTOM CSS
-------------------------------------------------- */
.about-me-content {
  margin-bottom: 1em;
}

.button-badge-spacing {
  margin-top: 1.3%;
  margin-right: 2%;
}

.x-icon {
  margin-left: 15px;
}

.card-img-top {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

.badge:hover {
  cursor: pointer;
}

/* BOOTSTRAP TEMPLATE CSS
-------------------------------------------------- */

.marketing h2 {
  font-weight: 400;
}

.marketing .row {
  margin-bottom: 0.5em;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin-top: 5rem;
  margin-bottom: 2.5rem;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -0.05rem;
}